In [1]:
import pandas as pd
df=pd.read_csv("collegePlace.csv")
df.head()

,Age,Gender,HSC_P,SSC_P,Stream,Internships,CGPA,HistoryOfBacklogs,Placed
0,22,Male,81,77,Electronics And Communication,1,8,1,1
1,21,Female,80,69,Computer Science,0,7,1,1
2,22,Female,84,83,Information Technology,1,6,0,1
3,21,Male,91,88,Information Technology,0,8,1,1
4,22,Male,84,69,Mechanical,0,8,0,1

In [2]:
df["Gender"] = df["Gender"].replace({'Female': 2,'Male': 1})
df["Stream"] = df["Stream"].replace({'Civil': 0, 'Computer Science': 1, 'Electrical': 2, 'Electronics And Communication': 3, 'Information Technology': 4, 'Mechanical':5})

In [3]:
X = df.drop(columns=['Placed'])
y = df['Placed']

In [4]:
df.head()

,Age,Gender,HSC_P,SSC_P,Stream,Internships,CGPA,HistoryOfBacklogs,Placed
0,22,1,81,77,3,1,8,1,1
1,21,2,80,69,1,0,7,1,1
2,22,2,84,83,4,1,6,0,1
3,21,1,91,88,4,0,8,1,1
4,22,1,84,69,5,0,8,0,1

In [5]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor.fit(X, y)

RandomForestRegressor(random_state=0)

In [7]:
regressor.predict([[22,2,72,45,1,2,7,3]])

C:\Users\Tamanna Kapoor\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.14])

In [13]:
import pickle 
pickle.dump(regressor,open('model.pkl','wb'))

In [14]:
regressor.score(X,y)

0.9451214198311412